@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Azure App Service Web App</h1>
    <p>This website is created as a part of Azure App Service Learning</p>
</div>
